@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f6f6f6;
  background: #010d17;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
